.center-box {
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 0;
    top : 10%;
    left: 35%;
    position: fixed;
    border: 5px solid black;
    border-radius: 5px;
}